<h2><%= @user.username %>'s Profile</h2>

<h3>Edit Profile</h3>

<% if @user.errors.any? %>
  <div class="error_messages">
    <h3>Please correct the following: </h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :username, "User name" %>
    <%= f.text_field :username %><br>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit(:class => 'btn btn-primary') %>
<% end %>

<br>

<%= link_to "Ask a Question", new_user_question_path(@user), :class => 'btn btn-primary', id: "new_link", remote: true %>
